<main>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Planado - {{user.company}}</a>
      <ul class="right hide-on-med-and-down">
        <li><a id='availabilityButton' class="waves-effect waves-light btn" href="#modal1">Update Availability</a></li>
        <li class="setSchedule" hidden="true"><a class="waves-effect waves-light btn setSchedule" href="#modal2">Set Schedule</a></li>
        <li><a class="waves-effect waves-light btn" id="logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="card">
      <div class="card-image">
        <img id='card-image' src={{user.profilePic}}>
        <span class="card-title"></span>
      </div>
      <div id="user-card" class="card-content">
        <h4>Welcome {{user.name}}</h4>
        <p>Employee ID: {{user.id}}</p>
        <p>Email: {{user.email}}</p>
        <p>Manager: {{user.boss}}</p>
        <br>
        <p class="scheduleIcon"><i class="material-icons scheduleIcon">schedule</i> Scheduled to work.</p>
        <p class="timeOffIcon"><i class="material-icons timeOffIcon">stop</i> Not scheduled to work.</p>

        <!-- Modal 1 Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Update Availability</h4>
            <p>Please input your availability for this week below.</p>
            <table class="bordered centered" id='firstTable'>
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" id="myCheckbox-monMorn" class="filled-in"/><label  for="myCheckbox-monMorn"></label></td>
                <td><input type="checkbox" id="myCheckbox-tueMorn" class="filled-in"/><label  for="myCheckbox-tueMorn"></label></td>
                <td><input type="checkbox" id="myCheckbox-wedMorn" class="filled-in"/><label  for="myCheckbox-wedMorn"></label></td>
                <td><input type="checkbox" id="myCheckbox-thurMorn" class="filled-in"/><label  for="myCheckbox-thurMorn"></label></td>
                <td><input type="checkbox" id="myCheckbox-friMorn" class="filled-in"/><label  for="myCheckbox-friMorn"></label></td>
              </tr>
              <tr>
                <td><input type="checkbox" id="myCheckbox-monAn" class="filled-in"/><label  for="myCheckbox-monAn"></label></td>
                <td><input type="checkbox" id="myCheckbox-tueAn" class="filled-in"/><label  for="myCheckbox-tueAn"></label></td>
                <td><input type="checkbox" id="myCheckbox-wedAn" class="filled-in"/><label  for="myCheckbox-wedAn"></label></td>
                <td><input type="checkbox" id="myCheckbox-thurAn" class="filled-in"/><label  for="myCheckbox-thurAn"></label></td>
                <td><input type="checkbox" id="myCheckbox-friAn" class="filled-in"/><label  for="myCheckbox-friAn"></label></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" id="submit-availability">Submit</button>
          </div>
        </div>

        <!-- Modal 2 Structure -->
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4>Set this weeks schedule</h4>
            <p>Please schedule employees for the week below.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" id="submit-availability">Submit</button>
          </div>
        </div>
      </div>
    </div>
 
    <div class="col s12 m7" id="first-shift">
      <div class="panel panel-danger">
        <div class="panel-heading">
					<h3 class="panel-title"><strong>{{user.name}}'s Schedule</strong></h3>
          <h3 class="panel-title"><strong>Morning</strong></h3>
        </div>
        <div class="panel-body">
          <table class="table bordered centered" id='firstTable'>
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="mon-morn"><i class="material-icons">stop</i></td>
                <td id="tue-morn"><i class="material-icons">stop</i></td>
                <td id="wed-morn"><i class="material-icons">stop</i></td>
                <td id="thur-morn"><i class="material-icons">stop</i></td>
                <td id="fri-morn"><i class="material-icons">stop</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col s12 m7" id="second-shift">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Afternoon</strong></h3>
        </div>
        <div class="panel-body">
          <table class="table bordered centered" id='firstTable'>
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="mon-night"><i class="material-icons">stop</i></td>
                <td id="tue-night"><i class="material-icons">stop</i></td>
                <td id="wed-night"><i class="material-icons">stop</i></td>
                <td id="thur-night"><i class="material-icons">stop</i></td>
                <td id="fri-night"><i class="material-icons">stop</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col s12 m7" id="manager-shift" hidden="true">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Full Schedule</strong></h3>
        </div>
        <div class="panel-body">
          <table class="bordered" id='firstTable'>
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> am </td>
                <td> am </td>
                <td> am </td>
                <td> am </td>
                <td> am </td>
              </tr>
              <tr>
                <td> pm </td>
                <td> pm </td>
                <td> pm </td>
                <td> pm </td>
                <td> pm </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </div>
</main>